.fullscrenn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/img/5_background/background.jpg');
  background-position: center;
  background-size: cover;
}

.fullScrenn-sound-content {
  display: flex;
  position: relative;
  gap: 18px;
  bottom: 40px;
  padding-right: 50px;
  cursor: pointer;
}

.fullScrenn-sound-content img {
  width: 24px;
}

.fullscreen-menu {
  width: 720px;
}

.win-lose-fullscreen {
  display: flex;
  justify-content: center;
}