.fullscrenn {
  flex-direction: column;
  background-image: url('../assets/img/5_background/background.jpg');
  background-position: center;
  background-size: cover;
}

.fullScrenn-sound-content {
  position: relative;
  display: flex;
  justify-content: center;
  top: 20px;
  gap: 28px;
  cursor: pointer;
}

.fullScrenn-sound-content img {
  width: 24px;
}

.fullscreen-menu {
  width: 720px;
}

.win-lose-fullscreen {
  display: flex;
  justify-content: center;
}